@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body {
    background-color: #D9D8D2;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0D0D;
    color: white;
    height: 100px;
}

h1 {
    font-weight: 700;
    font-style: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: column;
    min-height: calc( 100vh - 170px);

}

section.first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8C8C88;
    border: 3px solid transparent;
    border-radius: 25px;
    width: 350px;
    padding: 10px;
}

.voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;           
    list-style-type: none;
}

nav li {text-decoration: none; padding: 10px 20px;}

li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-weight: 700;
    font-style: bold;
    text-decoration: none;
    color: #F2F2F0;
    background-color: #0D0D0D;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;    
}

nav ul li a:hover {
    background-color: #F2F2F0;
    color: #0D0D0D;
}

.input-form {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow: 1px 2px 3px #404040;
    text-decoration: none;
}

.label-input{
    color: #0D0D0D;
    font-weight: 700;
    font-style: bold;
    font-size: 1rem;
}

a.button ,#botao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #0D0D0D;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
}

a.button:hover, #botao:hover {
    background-color: #F2F2F0;
    color: #0D0D0D;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D0D0D;
    color: #F2F2F0;
    padding: 5px;
    height: 70px;
}