@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body {
    background-color: #D9D8D2;
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0D0D;
    color: white;
    height: 100px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: column;
    min-height: calc( 100vh - 170px);

}

section.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 100%;
    gap: 50px;
}

div.input{
    display: flex;
    flex-direction: column;
    background-color: #8C8C88;
    border: 3px solid transparent;
    border-radius: 25px;
    width: 350px;
    padding: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;           
    list-style-type: none;
}

nav li {text-decoration: none; padding: 10px 20px;}

nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    color: #F2F2F0;
    background-color: #0D0D0D;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;    
}

nav ul li a:hover {
    background-color: #F2F2F0;
    color: #0D0D0D;
}

input {
    width: 300px;
    height: 50px;
    padding: 3%;
    margin-top: 4%;
    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow: 1px 2px 3px #404040;
    text-decoration: none;
    margin: 10px;
}
label {
    color: #0D0D0D;
    font-size: 15pt;
    font-weight: bold;
}

a.button ,input#botao {
    display: inline-block;
    background-color: #0D0D0D;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

a.button:hover, input#botao:hover {
    background-color: #F2F2F0;
    color: #0D0D0D;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D0D0D;
    color: #F2F2F0;
    padding: 5px;
    height: 70px;
}